@import "tailwindcss";

:root {
  --background: #ffffff; 
  --foreground: #171717; 
  --seju-grey: #ffffff;
  --seju-pink: #ffe3e3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-seju-grey: var(--seju-grey);
  --color-seju-pink: var(--seju-pink);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme:light) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
